<h1>Device#index</h1>
<p>Find me in app/views/devices/index.html.erb</p>
<p><%= @devices %></p>


<h1>Listing devices</h1>

<table>
  <thead>
    <tr>
      <th>Vendor_id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.id %></td>
        <td><%= link_to 'Show', device, method: :get %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_device_path %>
